<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cabinet</title>
</head>
<body>
    <h2>Personal cabinet</h2>
    <table border="5px">
        <thead>
        <tr>
            <th>username</th>
            <th>name</th>
            <th>surname</th>
        </tr>
        </thead>
        <tbody>
        <tr object="${user}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td><a th:href="@{/user/delete/{username}(username=${user.username})}">Delete an account</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/recipe/recipe-creation/{id}(id=${user.id})}">Create recipe</a></p>
    <div>
        <table border="5px">
            <thead>
            <tr>
                <th>recipe title</th>
                <th>timestamp</th>
                <th>likes</th>
            </tr>
            </thead>
            <tr th:each="recipe : ${user.recipes}">
                <td th:text="${recipe.title}"></td>
                <td th:text="${recipe.timestamp}"></td>
                <td th:text="${recipe.likes}"></td>
                <td><a th:href="@{/recipe/recipe-page/{id}(id=${recipe.recipeId})}">View</a></td>
                <td><a th:href="@{/recipe/update-recipe/{id}/{i}(id=${recipe.recipeId},i=${user.id})}">Update</a></td>
                <td><a th:href="@{/recipe/delete-recipe/{id}/{title}(id=${user.id},title=${recipe.title})}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div>
        <p><a th:href="@{/recipe/user-recipe-list/{id}(id=${user.id})}">Recipe list</a></p>
        <p><a href="/user/start-page">Log Out</a></p>
    </div>
</body>
</html>