<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign-in Form</title>
</head>
<body>
<form th:method="POST" th:object="${user}" th:action="@{/user/sign-in-form}">
    <div>
        <input type="text" id="username" name="username" placeholder="username" field="*{username}"/>
        <input type="text" id="password" name="password" placeholder="password" field="*{password}"/>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>